body {
  background-image: url('https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
  background-size: 100% auto; 
  background-repeat: repeat-y;
  color: white;
  
}

a:link,a:visited { 
  color: white
}

.left{
  display:inline-block;
  float: left;
}
.right{
  float:right;
}
