body {
  background-image: url('https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: white;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.modal-mask {
  background-color: #60606060;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.modal-thing {
  background-color: #503010;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.margin-li{
  font-size: 1.1em;
}

.margin-li li{
  margin-bottom: 10px;
}

.margin-li li span.detail{
  color:white;
}

a:link,a:visited {
  color: white
}

.left{
  display:inline-block;
  float: left;
}
.right{
  float:right;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card{
  float:left;
  width: 17%;
  margin: 1%;
  transition: 1s;
  background-color: #dbaf2b;
}

.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.card img{
  width:100%;
}

.navbar {
  margin: 10px;
  display:flex;
  justify-content: space-around;
}

.navbar a {
  cursor: pointer;
}

.nav-item {
  font-weight: bold;
  border: 3px ridge #dbaf2b;
  margin: 3px 10px;
  font-size: 24pt;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
}

.detailShow{
  margin: 20px;
}

.wrappers{
  display:flex;
  margin: 20px;
}

.user-info{
  clear:both;
  margin: 20px;
}

.h1pad{
  margin: 20px;
}

.review{
  clear:both;
}

.clear{
  clear:both;
}
.margin{
  margin:20px;
}

.block-button{
  display: block;
  width: 50%;
  height: 40px;
  font-size: 1.5em;
  background-color: rgb(200, 160, 74);
}

.center-item{
  display:flex;
  justify-content: center
}

.title-color{
  font-weight:bold;
  color: rgb(200, 160, 74)
}

.imdb_rating{
  display: flex;
}
.imdb_rating img {
  width: 24px;
}

.card-detail{
  margin: 10px;
}

.price{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-wrapper {
  border-radius: 5px;
  background-color: rgb(200, 160, 74);
  padding: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  display: block;
  margin:10px 10px 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password] {
  display: block;
  margin:10px 10px 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-wrapper label {
  color:black
}


.form-wrapper button{
  display: block;
  margin:30px 10px 10px 0;
  width: 100%;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
